.menu-navbar a::after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: -webkit-linear-gradient(90deg, rgb(0, 161, 255), rgb(255, 0, 247));
    background: linear-gradient(90deg, rgb(0, 161, 255), rgb(255, 0, 247));

    transform-origin: right;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.menu-navbar a:hover::after {
    transform-origin: left;
    transform: scale(1);
}